<header>
    <h1><a href="../schoonheidsinstituut.html">Beauty Care</a></h1>
    <div class="slog">Uw moment van ontspanning</div>
    <!-- <div><img class="emblem" src="img/25JarigJubileum.png" alt="25 jaar Beauty Care embleem"></div> -->
    <nav>
        <ul>
            <li><a href="./schoonheidsinstituut.html">Home</a></li>
            <li><a href="./about.html">Over</a></li>
            <li><a href="./face.html">Gelaat</a></li>
            <li><a href="./make_up.html">Make-up</a></li>
            <li><a href="./slimming.html">Afslanking</a></li>
            <li><a href="./brands.html">Producten</a></li>
            <li><a href="./promo.html">Promoties</a></li>
            <li><a href="./new.html">Nieuw</a></li>
            <li><a href="./shop.html">Webshop</a></li>
            <li><a href="./gallery.html">Galerij</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <banner>
    </banner>
</header>
