<script src="https://code.jquery.com/jquery-3.6.0.min.js">
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('current');
            }
        });
    });
</script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
</style>
<header>
    <h1><a href="./index.html">Beauty Care</a></h1>
    <div class="slog">Uw moment van ontspanning</div>

    <nav id="navigation">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">Over</a></li>
            <li><a href="./face.html">Gelaat</a></li>
            <li><a href="./make_up.html">Make-up</a></li>
            <li><a href="./slimming.html">Afslanking</a></li>
            <li><a href="./brands.html">Producten</a></li>
            <li><a href="./promo.html">Promoties</a></li>
            <li><a href="./new.html">Nieuw</a></li>
            <li><a href="./shop.html">Webshop</a></li>
            <li><a href="./gallery.html">Galerij</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <banner>
    </banner>

</header>
